.env.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
.stack-work

# These are build artifacts, no need to commit
linux-stack.yaml
app-docker/slack-groupme-bridge-exe
app-docker/.env

